@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

    Default: 4 columns
    ■ Below 1200px: 3 columns
    ■ Below 768px: 2 columns
    ■ Below 480px: 1 column